* {
  box-sizing: border-box;
}

header {
  font-family: Candara, sans-serif;
  color: #FFFFFF;
  background: #0c0f0a;
  text-align: center;
  
}

body {
  background: #bbcde5;
}

main {
  text-align: center;
}
  

