* {
  box-sizing: border-box;
}

header {
  color: #FFFFFF;
  background: #0c0f0a;
  text-align: center;
  margin: -25px 0 20px 0;
  padding: 20px 0 0 0;
 }

body {
  background: #3a506b;
  margin: 0 auto;
}

img {
  max-width: 35%;
  max-height: auto;
  border-radius: 20px;
  border: 2px solid #0c0f0a; 
  margin: 15px 0px 15px 15px;
}

main {
  text-align: center;

}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
  margin: 15px 0 0 5px;
  padding: 10px 0 -30px 0;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  margin: 20px 0 10px 0;
  padding: 10px 0 5px 0;
}

h3{  
  font-family: "Bradley Hand", Arial, sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  margin: 20px 0 10px 0;
  padding: 5px;
}

h4 {
  font-family: Bradley Hand, Arial, sans-serif;
  font-size: 25px;
  text-align: center;
  color: #bcc5c5;
  padding: 0 0 10px 0;
  margin: -2px 0 0 5px;
}

h5 {
  font-family: Optima, Arial, sans-serif;
  font-size: 10px;
  color: #bcc5c5;
  padding: 0 0 10px 0;
  margin: -2px 0 0 5px;

}

p {
  font-family: Optima, Arial, sans-serif;
  font-size: 17px;
  color: #FFFFFF;
  margin: 0% 15%;
  padding: 2% 5%;
  text-align: justify;
}

hr{
  height: 5px;
  border: 2px #0c0f0a solid;
  background: #FFFFFF;
  margin-top: 35px;
  margin-bottom: 35px;
}

ol {
  margin: 25%;
}

.list{ /* use to style both ol and ul */
  font-family: Optima, Arial, sans-serif;
  font-size: 17px;
  text-align: justify;
  list-style-position: inside;
  color: #FFFFFF;
  margin: 0% 15%;
  padding: 1%;
}

.center { /* use to center specific elements I don't want justified*/
  text-align: center;
}

a {
  font-family: Optima, Arial, sans-serif;
  font-size: 17px;
}

a:link {color: #0b132b;}
a:visited {color:#bcc5c5;}
a:hover {color:#6fffe9;}
a:active {color:#FFFFFF;}

footer {
  background: #0c0f0a;
  text-align: center;
  padding: 20px 0 15px 0;
}
